@import "tailwindcss";
@import "tw-animate-css";
@import "@proteus/ui/styles.css";
@source "../../../packages/ui/src";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}
